<header class="w-full flex items-center justify-center">
  <nav class="w-9/12 h-20 flex items-center justify-between">
    <p class="text-3xl font-medium">Nahas</p>
    <div class="flex">
      <a routerLink="/blog" class="mr-4">Blog</a>
      <a routerLink="/tags" class="mr-4">Tags</a>
      <a routerLink="/projects" class="mr-4">Projects</a>
      <a routerLink="/about" class="mr-4">About</a>
      <img
        src="../../../assets/images/brightness.png"
        alt="Light Mode Icon"
        class="w-6 h-6 cursor-pointer"
      />
    </div>
  </nav>
</header>
