<header class="w-full flex flex-wrap items-center justify-center mt-2">
  <nav class="w-9/12 h-20 flex flex-wrap items-center justify-between">
    <p class="text-3xl font-semibold cursor-pointer name" routerLink="/">Nahas</p>
    <div class="flex">
      <a
        routerLink="/blog"
        routerLinkActive="active"
        class="mr-7 text-lg cursor-pointer"
        >Posts</a
      >
      <a
        routerLink="/tags"
        routerLinkActive="active"
        class="mr-7 text-lg cursor-pointer"
        >Tags</a
      >
      <a
        routerLink="/projects"
        routerLinkActive="active"
        class="mr-7 text-lg cursor-pointer"
        >Projects</a
      >
      <a
        routerLink="/about"
        routerLinkActive="active"
        class="mr-7 text-lg cursor-pointer"
        >About</a
      >
      <img
        *ngIf="darkMode"
        src="/assets/images/night-mode.png"
        alt="Light Mode Icon"
        class="w-5 h-5 cursor-pointer"
        (click)="changeIcon()"
      />
      <img
        *ngIf="!darkMode"
        src="/assets/images/brightness.png"
        alt="Light Mode Icon"
        class="w-5 h-5 cursor-pointer"
        (click)="changeIcon()"
      />
    </div>
  </nav>
</header>
