<app-header></app-header>
<main class="w-full flex flex-col items-center justify-center">
  <section class="w-9/12 h-32 flex flex-col items-start border-b-2">
    <h1 class="text-5xl font-bold mt-12">Personal</h1>
  </section>
  <section class="w-9/12 flex">
    <div class="w-1/5 h-36 mt-12">
      <p style="color: var(--text-gray)">Mar 25, 2022</p>
    </div>
    <div class="w-4/5 h-36 mt-12">
      <p class="text-2xl font-bold cursor-pointer" routerLink="/blog/hello-world">
        Hello World
      </p>
      <p class="cursor-pointer" routerLink="/tags/personal-life" style="color: var(--text-anchor)">PERSONAL</p>
      <p class="mt-3" style="color: var(--text-gray)">
        How was my first contact with programming?
      </p>
    </div>
  </section>
</main>
