<app-header></app-header>
<main class="w-full flex flex-col items-center justify-center">
  <section class="w-9/12 h-32 flex justify-end border-b-2 flex flex-col mt-4">
    <p class="text-5xl font-bold mb-4">Recent</p>
    <p class="text-lg mb-2 tracking-wider" style="color: var(--text-gray)">
      What I've been talking about
    </p>
  </section>
  <div class="w-9/12 flex mt-12">
    <div class="w-1/5 h-36">
      <p style="color: var(--text-gray)">Mar 25, 2022</p>
    </div>
    <div class="w-4/5 h-36">
      <p class="text-2xl font-bold cursor-pointer" routerLink="hello-world">Hello World</p>
      <p class="cursor-pointer" style="color: var(--text-anchor)">TAG</p>
      <p class="mt-3" style="color: var(--text-gray)">A short presentation about me.</p>
      <p class="mt-3 cursor-pointer" style="color: var(--text-anchor)" routerLink="hello-world">READ →</p>
    </div>
  </div>
</main>
