.card {
  background-color: var(--text-light);
  width: 22rem;
}

.projects {
  display: flex;
}

@media(max-width: 760px) {
  .projects {
    flex-direction: column;
  }
  .portfolio {
    margin-left: 0;
  }
}

// .portfolio {
//   margin-left: 2rem;
// }

.hover {
  color: var(--text-gray);
}

.text-redirect {
  color: var(--text-anchor);
}
