@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background-color: var(--background-light);
}

p, h1, h2, h3, a, strong, span {
    color: var(--text-dark);
}



:root {
    $text-anchor: #1a6fdd;
    --background-light: #fafafa;
    --text-light: #f5f5f5;
    --background-dark: #171717;
    --text-dark: #171717;
    --text-gray: #404040;
    --text-anchor: #1a6fdd;
    --text-anchor-hover: #5d6566;
}